In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv(r"E:\PES\SEM2\Refer\ML\ML_Datasets-20230613T052137Z-001\Kaggle\tic_tac_toe_dataset.csv")

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['top_left_square']=le.fit_transform(df['top_left_square'])
df['top_middle_square']=le.fit_transform(df['top_middle_square'])
df['top_right_square']=le.fit_transform(df['top_right_square'])
df['middle_left_square']=le.fit_transform(df['middle_left_square'])
df['middle_middle_square']=le.fit_transform(df['middle_middle_square'])
df['middle_right_square']=le.fit_transform(df['middle_right_square'])
df['bottom_left_square']=le.fit_transform(df['bottom_left_square'])
df['bottom_middle_square']=le.fit_transform(df['bottom_middle_square'])
df['bottom_right_square']=le.fit_transform(df['bottom_right_square'])
df.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,2,2,2,2,1,1,2,1,1,0
1,2,2,2,2,1,1,1,2,1,0
2,2,2,2,2,1,1,1,1,2,0
3,2,2,2,2,1,1,1,0,0,0
4,2,2,2,2,1,1,0,1,0,0

In [8]:
x=df.iloc[:,0:-1]
y=df['class']
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, shuffle=True)

In [9]:
from sklearn.ensemble import RandomForestClassifier
RFC=RandomForestClassifier(n_estimators=50)
RFC.fit(xtrain,ytrain)
RFC.score(xtrain,ytrain)

1.0

In [10]:
ypred=RFC.predict(xtrain)
from sklearn.metrics import accuracy_score
print(accuracy_score(ytrain,ypred))

1.0